@model PizzaStore.Client.Models.StoreViewModel
@{
    ViewData["Title"] = $"Managing {Model.StoreName}";
}

<h2>Managing @Model.StoreName</h2>

<section>
  <p>What would you like to do?</p>
  @Html.HiddenFor(m => m.ID)
  @Html.HiddenFor(m => m.StoreName)
  @using (Html.BeginForm("ViewReports", "Store", FormMethod.Post)) {
    <input type="submit" value="View Order History" name="history">
    <input type="submit" value="View Sales Reports" name="sales">
    <input type="submit" value="Log Out" name="logout">
    @Model.ReasonForError
  }
</section>
