@model PizzaStore.Client.Models.UserViewModel
@{
    ViewData["Title"] = "Logged In";
}

<h2>Hello @Model.Name!</h2>

<main>
  <span>What would you like to do today? Select a store to visit it, or select an action to perform.</span><br>
  @using (Html.BeginForm("OptionSelected", "User", FormMethod.Post)) {
    @foreach (PizzaStore.Domain.Models.StoreModel store in Model.Stores) {
      @Html.RadioButtonFor(model => model.OptionSelected, store.ID)<span> @store.Name</span><br>
    }
    @Html.RadioButtonFor(model => model.OptionSelected, -1)<span> View Order History</span>
    
    <br><br><input type="submit" value="Submit">
  }
  @using (Html.BeginForm("LogOut", "User", FormMethod.Post)) {
    <input type="submit" value="Log Out">
  }
</main>
