@model PizzaStore.Client.Models.LogInViewModel
@{
    ViewData["Title"] = "User Not Found";
}

<h2>User Not Found</h2>

@* <main> *@
  <section>
    <p>A user with an ID of @Model.IDInput was not found. If you would like to create a new user, please enter your name below.</p>
    @using (Html.BeginForm("AddUser", "User", FormMethod.Post)) {
      <span>Name:</span><br>
      @Html.TextBoxFor(model => model.NewName)
      @Html.ValidationMessageFor(model => model.NewName)
      <br><br><input type="submit" value="Submit">
    }
  </section>
@* </main> *@